{% extends '../base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Produção (mês)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    R$ {{ producao.mensal|floatformat:2 }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Produção (ano)</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            R$ {{ producao.anual|floatformat:2 }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pendentes</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ producao.pendentes }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-tasks fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Solicitações pendentes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
        </div>


        <div class="row">

            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Propostas aprovadas com pagamento pendente: {{ producao.pagamentosPendentes.count }}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Contrato</th>
                                    <th>Nome</th>
                                    <th>Banco</th>
                                    <th>Op.</th>
                                    <th>VL</th>
                                    <th>Baixa</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in producao.pagamentosPendentes %}
                                    <tr>
                                        <td>{% if p.contrato is None or p.contrato is 0 %} {{ p.contrato }} {% endif %}</td>
                                        <td>{{ p.nome|truncatewords:2 }}</td>
                                        <td>{{ p.banco }}</td>
                                        <td>
                                            {% for t in producao.listaPagamento  %}
                                                {% ifequal t.0|stringformat:'s' p.tipoDeposito|stringformat:'s' %}
                                                    {{t.1}}
                                                {% endifequal %}
                                            {% endfor %}
                                        </td>
                                        <td>R$ {{ p.vlLiquido|floatformat:2 }}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'baixa' %}?id={{p.id}}"><i class="fas fa-fw fa-money-bill-wave"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Produção por corretor<br>
                            <span class="text-gray-600 text-xs">Produção referente ao mês atual</span>
                        </h6>
                    </div>
                    <!-- Card Body -->
                    {% if producao.mensal > 0 %}
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2" style="overflow-y: auto; margin-top: -20px;">
                                {% for c in comissoes %}
                                    <h4 class="small font-weight-bold">{{ c.nome }}
                                        <span class="float-right">{{ c.total|mul:100|div:producao.mensal|floatformat:2 }}%</span>
                                        <span class="float-right mr-4">R$ {{ c.total|floatformat:2 }}</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{ c.total|mul:100|div:producao.mensal|floatformat:2 }}%"
                                             aria-valuenow="{{ c.total|mul:100|div:producao.mensal|floatformat:2 }}"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="mt-4 text-center small">
                                <!--<span class="mr-2">
                                  <i class="fas fa-circle text-success"></i> Moderado
                                </span>-->
                                <span class="mr-2">
                      <i class="fas fa-circle text-danger"></i> Crítico
                    </span>
                                <!--<span class="mr-2">
                                  <i class="fas fa-circle text-warning"></i> Indisponível
                                </span>-->
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Gasto anual</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page level plugins -->
            <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
            <!-- Page level custom scripts -->
            <script src="{% static 'js/demo/chart-area-demo.js' %}" data-labels="{{ producao.meses }}"></script>
            <!-- <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> -->

            <script type="text/javascript">

                meses = "{{producao.meses}}".toString().replace("[", "").replace("]", "").replace(/&#39;/g, "").split(', ');
                gastos = "{{producao.producoes}}".toString().replace("Decimal(", "").replace(")", "").replace("Decimal(", "").replace(")", "").replace("[", "").replace("]", "").replace(/&#39;/g, "").split(', ');

                //alert(gastos);

                var b = gastos.split(', ').map(function (item) {
                    return parseFloat(item, 10);
                });

                writeChart(meses, b);

            </script>

        </div>

    </div>

{% endblock %}