{% extends '../base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- Basic Card Example -->
    {% if operation == 'add' %}
    <a class="btn btn-primary mb-4" href="{% url 'ligacoes' %}?operation=list">
        Relatórios
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ligações</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <div class="form-inline mb-4">
                    <div class="col-8"></div>
                    <div class="input-group col-4">
                        <input type="text" name="procurar" class="form-control bg-light border-0 small" placeholder="Localizar por cpf..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button onclick="searchBox()" class="btn btn-primary">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" disabled name="nome" value="{{edicao.nome}}" class="form-control form-control-user {% if ligacao.data_agendamento is not None %} col-8 {% else %} col-12 {% endif %}" placeholder="Nome" />
                    {% if ligacao.data_agendamento is not None %}
                        <div style="text-align: right;" class="col-4">
                            Último contato: 01/01/2001
                        </div>
                    {% endif %}
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="celular" value="{{edicao.celular}}" class="form-control form-control-user col-4" placeholder="Celular" />
                    <input type="text" name="fixo" value="{{edicao.fixo}}" class="form-control form-control-user col-4" placeholder="Fixo" />
                    <input type="text" name="corretor" value="{{edicao.corretor}}" class="form-control form-control-user col-4" placeholder="Corretor" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="endereco" value="{{edicao.endereco}}" class="form-control form-control-user col-10" placeholder="Endereço" />
                    <input type="text" name="numero" value="{{edicao.numero}}" class="form-control form-control-user col-2" placeholder="Número" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="endereco" value="{{edicao.cidade}}" class="form-control form-control-user col-3" placeholder="Bairro" />
                    <input type="text" name="bairro" value="{{edicao.bairro}}" class="form-control form-control-user col-3" placeholder="Cidade" />
                    <input type="text" name="cidade" value="{{edicao.uf}}" class="form-control form-control-user col-3" placeholder="UF" />
                    <input type="text" name="cep" value="{{edicao.cep}}" class="form-control form-control-user col-3" placeholder="CEP" />
                </div>
                <div class="form-inline mb-4">
                    <textarea required name="observacao" class="form-control form-control-user col-12" placeholder="Observações" style="border-radius: 10px; padding: 10px;">{{ligacao.observacao}}</textarea>
                </div>
                <div class="form-inline mb-4">
                    <input type="date" name="agendamento" class="form-control form-control-user col-3" title="agendamento" />
                </div>
                <div class="form-group">
                    <div class="table-responsive">
                      <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Dt. ligação</th>
                            <th>Usuário</th>
                            <th>Observação</th>
                            <th>Dt. agendamento</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for l in ligacao %}
                                <tr>
                                    <td>{{l.data_ligacao|date:'d/m/Y'}}</td>
                                    <td>{{l.usuario}}</td>
                                    <td>{{l.observacao}}</td>
                                    <td>{{l.data_agendamento|date:'d/m/Y'}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Adicionar
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <a class="btn btn-primary mb-4" href="{% url 'ligacoes' %}">
        Adicionar
    </a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitação</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Pgt.</th>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Fixo</th>
                <th>Matrícula/NB</th>
                <th>Ver</th>
              </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Pgt.</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Celular</th>
                  <th>Fixo</th>
                  <th>Matrícula/NB</th>
                  <th>Ver</th>
                </tr>
              </tfoot>
              <tbody>
              {% for p in propostas %}
                <tr>
                  <td style="text-align: center;">
                      {% if p.pagamento %}
                          <i class="fas fa-fw fa-check-circle" style="color: #2ecc71;"></i>
                      {% else %}
                          <i class="fas fa-fw fa-window-close" style="color: #e74c3c;"></i>
                      {% endif %}
                  </td>
{#                  <td>{{p.dataCadastro.day}}/{{p.dataCadastro.month}}/{{p.dataCadastro.year}}</td>#}
                  <td>{{p.nome|truncatewords:2}}</td>
                  <td>{{p.cpf}}</td>
                  <td>{{p.celular}}</td>
                  <td>{{p.fixo}}</td>
                  <td>{{p.matricula}}</td>
                  <td style="text-align: center;">
                    <a href="{% url 'ligacoes' %}?add&id={{p.id}}"><i class="fas fa-fw fa-eye"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}