{% extends '../base.html' %}
{% block content %}

<style type="text/css">
.toggleMenu{
  cursor: pointer;
}
</style>

<div class="container-fluid">
    <!-- Basic Card Example -->
    {% if operation == 'add' %}
    <a class="btn btn-primary mb-4" href="{% url 'usuarios' %}?operation=list">
        Relatórios
    </a>
    {% if edicao is not None %}
    <a class="btn btn-primary mb-4" href="{% url 'usuarios' %}">
        Novo
    </a>
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-header py-3 toggleMenu">
            <h6 class="m-0 font-weight-bold text-primary">Cadastro de usuários</h6>
        </div>
        <div class="card-body" id="cadastroUsuarios">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <div class="form-inline mb-4">
                    <input type="text" required name="nome" value="{{edicao.nome}}" class="form-control form-control-user col-8" placeholder="Nome" />
                    <input type="text" required  name="telefone" value="{{edicao.telefone}}" class="form-control form-control-user col-4" placeholder="Telefone" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" step="0.5" required name="login" value="{{edicao.login}}" class="form-control form-control-user col-3" placeholder="Login" />
                    <input type="email" required name="email" value="{{edicao.email}}" class="form-control form-control-user col-3" placeholder="Email" />
                    <input {% if edicao.senha is not None %} type="password" disabled {% else %} type="text" {% endif %}
                             required name="senha" value="{{edicao.senha}}" class="form-control form-control-user col-3" placeholder="Senha" />
                    <select required name="nivel" class="form-control select-component col-3">
                        <option selected value="">Escolha um nivel</option>
                        {% for nvl in niveis %}
                            <option 
                                {% if nvl.1|stringformat:'s' == edicao.nivel|stringformat:'s' %} selected {% endif %} 
                                value="{{nvl.0}}">{{nvl.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <select required name="banco" class="form-control select-component col-3">
                        <option selected value="">Escolha um banco</option>
                        {% for bnc in bancos %}
                            <option 
                                {% if bnc.1|stringformat:'s' == edicao.banco|stringformat:'s' %} selected {% endif %} 
                                value="{{bnc.0}}">{{bnc.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" required name="agencia" value="{{edicao.agencia}}" class="form-control form-control-user col-3" placeholder="Agência" />
                    <input type="text" required name="conta" value="{{edicao.conta}}" class="form-control form-control-user col-3" placeholder="Conta" />
                    <select required name="tipo" class="form-control select-component col-3">
                        <option selected value="">Escolha uma operação</option>
                        {% for cnt in contas %}
                            <option 
                                {% if cnt.1|stringformat:'s' == edicao.tipo|stringformat:'s' %} selected {% endif %} 
                                value="{{cnt.0}}">{{cnt.1}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-inline mb-4">

                    <div class="file-input col-3">
                        <input type="file" name="arquivoRG" />
                        <a href="#" class="btn btn-primary btn-user btn-block">RG</a>
                    </div>
                    <div class="file-input col-3">
                        <input type="file" name="arquivoCPF" />
                        <a href="#" class="btn btn-primary btn-user btn-block">CPF</a>
                    </div>
                    <div class="file-input col-3">
                        <input type="file" name="arquivoFoto" />
                        <a href="#" class="btn btn-primary btn-user btn-block">FOTO</a>
                    </div>
                    <div class="file-input col-3">
                        <input type="file" name="arquivoFicha" />
                        <a href="#" class="btn btn-primary btn-user btn-block">FICHA</a>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Adicionar
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <a class="btn btn-primary mb-4" href="{% url 'usuarios' %}">
        Adicionar
    </a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitação</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Nível</th>
                <th>Ver</th>
                <th>Adian.</th>
              </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nome</th>
                  <th>Nível</th>
                  <th>Ver</th>
                  <th>Adian.</th>
                </tr>
              </tfoot>
              <tbody>
              {% for usu in usuarios %}
                <tr>
                  <td>{{usu.nome}}</td>
                  <td>{{usu.nivel}}</td>
                  <td>
                    <a href="{% url 'usuarios' %}?add&id={{usu.id}}"><i class="fas fa-fw fa-eye"></i></a>
                  </td>
                  <td>
                    <a href="{% url 'adiantamentos' %}?add&id={{usu.id}}"><i class="fas fa-fw fa-money-bill-wave"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}


    {% if operation != 'list' %}
    <div class="row">
      <div class="col-lg-10">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Propostas</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Pgt.</th>
                    <th>Cliente</th>
                    <th>CPF</th>
                    <th>Banco</th>
                    <th>Produto</th>
                    <th>VB</th>
                    <th>VL</th>
                    <th>Status</th>
                    <th>Ver</th>
                    <th>Baixa</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for p in propostas %}
                    <tr>
                      <td style="text-align: center;">
                          {% if p.pagamento %}
                              <i class="fas fa-fw fa-check-circle" style="color: #2ecc71;"></i>
                          {% else %}
                              <i class="fas fa-fw fa-window-close" style="color: #e74c3c;"></i>
                          {% endif %}
                      </td>
    {#                  <td>{{p.dataCadastro.day}}/{{p.dataCadastro.month}}/{{p.dataCadastro.year}}</td>#}
                      <td>{{p.nome|truncatewords:2}}</td>
                      <td>{{p.cpf}}</td>
                      <td>{{p.banco}}</td>
                      <td>{{p.produto}}</td>
                      <td>R$ {{p.vlBruto}}</td>
                      <td>R$ {{p.vlLiquido}}</td>
                      <td>
                          {% for ls in listaStatus %}
                            {% if ls.0 is p.status %}
                                {{ ls.1 }}
                            {% endif %}
                          {% endfor %}
                      </td>
                      <td style="text-align: center;">
                        <a href="{% url 'propostas' %}?add&id={{p.id}}"><i class="fas fa-fw fa-eye"></i></a>
                      </td>
                      <td style="text-align: center;">
                          <a href="{% url 'baixa' %}?id={{p.id}}"><i class="fas fa-fw fa-money-bill-wave"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
            </div>
            <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2" style="overflow-y: auto; margin-top: -20px;">
                      {% for cliente in clientes %}
                        <h4 class="small font-weight-bold">{{cliente.nome|truncatewords:2}}</h4>
                      {% endfor %}
                    </div>
                </div>
        </div>
    </div>

    </div>
    {% endif %}

</div>
{% endblock %}