{% extends '../base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gerenciamento de usuários</h1>
    </div>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Atualização de senha</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="senha" class="form-control form-control-user" placeholder="Senha atual" />
                </div>
                <div class="form-group">
                    <input type="password" name="novasenha" class="form-control form-control-user" placeholder="Nova senha" />
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Atualizar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}