@media only screen and (min-width: 950px)
{
    .container
    {
        max-width: 960px;
        position: absolute;
        top: -webkit-calc(50% - 239px);
        left: -webkit-calc(50% - 480px);
    }
}

@media only screen and (max-width: 950px)
{
    .container
    {
        margin: 100px auto;
    }
}

.select-component
{
    font-size: .8rem;
    border-radius: 10rem;
    padding-top: 1.5rem 1rem;
    height: 50px;
    margin-left: 0px;
}

.select-dias-uso
{
    margin: 0px;
    height: auto !important;
    padding: 0px;
}

.select-dias-uso option
{
    text-align: center;
    float: left;
    width: -webkit-calc(100% / 7);
    padding: 20px 0px;
}

.select-dias-uso option:disabled
{
    background: #e74c3c;
    color: #fff;
}

tbody tr:nth-child(odd)
{
    background: #ccc;
    color: #333;
}

tbody tr:hover
{
    background: #ececec;
    cursor: pointer;
}

#edicaoUsuarioModal
{
    display: none;
}

#FormButtonContainer
{
    text-align: right;
}

.group-divider label
{
    float: left;
}

.error-message
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: -webkit-calc(100% - 40px);
    margin: 10px 20px;
    z-index: 999;
}

.error-title
{
    font-size: 16px;
}

.spanBlocks
{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #ccc;
}

.file-input
{
    text-align: justify;
}

.file-input input[type=file]
{
    width: 100px;
    margin-left: 50px;
    margin-top: 7px;
    position: absolute;
    opacity: 0;
}

.notificacao
{
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 2px;
    font-size: 11px;
    border-radius: 20px;
    background: #cc1111;
}



/* ================================== Switch component ===================================== */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0px 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-span
{
    line-height: 34px;
}