{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SM Promotora</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dash' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Solicitações
      </div>

      <!-- Nav Item - Pages Collapse Menu 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-tasks"></i>
          <span>Usuários</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">Materiais</a>
            <a class="collapse-item" href="#">Compras</a>
            <a class="collapse-item" href="#">Relatórios</a>
          </div>
        </div>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios' %}?operation=list">
          <i class="fas fa-fw fa-user"></i>
          <span>Usuários</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'propostas' %}">
          <i class="fas fa-fw fa-edit"></i>
          <span>Propostas</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'clientes' %}">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Cliente/Renovação</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'ligacoes' %}?operation=list">
          <i class="fas fa-fw fa-mobile-alt"></i>
          <span>Ligações</span>
          {% if agendamentos > 0 %}
            <div class="notificacao">{{agendamentos}}</div>
          {% endif %}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'relatorios' %}">
          <i class="fas fa-fw fa-clipboard-check"></i>
          <span>Relatórios</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            {% if notificacoes.count > 0 %}
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">{{notificacoes.count}}</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notificações
                </h6>

                {% for n in notificacoes %}
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-calendar text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">{{n.data}}</div>
                    {% if user.grupo|stringformat:'s' == 'Administrador' or user.grupo|stringformat:'s' == 'Assistente' %}
                      <div class="small text-gray-500" style="float: right; margin-top: -20px;">{{ n.usuario.nome|truncatewords:1 }}</div>
                    {% endif %}
                    <span class="font-weight-bold">{{n.nome}}</span>
                  </div>
                </a>
                {% endfor %}
              </div>
            </li>
            {% endif %}
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{usuario.nome}}</span>
                <img class="img-profile rounded-circle" src="{% static 'img/user_icon.png' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'trocarsenha' %}">
                  <i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                  Nova senha
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {% block content %}
        {% endblock %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; SM Promotora 2019</span>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Isso encerrará sua sessão, tem certeza que quer sair?.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Sair</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

  <script src="{% static 'js/jquery.mask.min.js' %}"></script>
  <script src="{% static 'js/jquery.maskMoney.js' %}"></script>

</body>
<script type="text/javascript">
        var inputs = document.getElementsByTagName('input');
        var td = document.getElementsByTagName('td');
        for(var i=0; i<inputs.length; i++)
        {
            if(inputs[i].value == 'None' || inputs[i].value == '0' || inputs[i].value == '0.0' || inputs[i].value == '0.00')
                inputs[i].value = '';
        }
        for(var i=0; i<td.length; i++)
        {
            if(td[i].innerHTML == 'None')
                td[i].innerHTML = '';
        }

        $("input[name='rg']").keydown(function(e){
            try {
                $("input[name='rg']").unmask();
            } catch (e) {}

            var tamanho = $("input[name='rg']").val().length;

            if(tamanho < 9){
                $("input[name='rg']").mask("999.999.999");
            } else{
                $("input[name='rg']").mask("99999999999");
            }
            //alert(e.key);
            var elem = this;
            setTimeout(function () {
                elem.selectionStart = elem.selectionEnd = 10000;
            }, 0);

            var currentValue = $(this).val();
            $(this).val('');
            $(this).val(currentValue);
        });

        $("input[name='numeroCelular']").mask("(00) 00000-0000");
        $("input[name='telefone']").mask("(00) 00000-0000");
        $("input[name='numeroFixo']").mask("(00) 00000-0000");
        $("input[name='valorParcela']").mask("###0,00", {reverse: true});

        //$("input[name='taxa']").mask("###0,00", {reverse: true});
        $("input[name='taxaLucro']").mask("###0,00", {reverse: true});
        ///$("input[name='taxaJuros']").mask("###0,00", {reverse: true});




        $("input[name='taxaJuros']").maskMoney({allowNegative: true, decimal:',', affixesStay: false});
        $("input[name='taxa']").maskMoney({allowNegative: true, decimal:',', affixesStay: false});



        //$("input[name='taxaJuros']").mask("###0,00", {reverse: true});
        //$("input[name='taxa']").mask("###0,00", {reverse: true});

        $("input[name='valorBruto']").mask("###0,00", {reverse: true});
        $("input[name='valorLiquido']").mask("###0,00", {reverse: true});
        $("input[name='renda']").mask("###0,00", {reverse: true});

        $("input[name='cpf']").mask('000.000.000-00', {reverse: true});
        $("input[name='matricula']").mask('000.000.000-0', {reverse: true});
        $("input[name='rg']").mask('000.000.000', {reverse: true});
        $("input[name='procurar']").mask('000.000.000-00', {reverse: true});

        $("input[name='cep']").mask('00000-000');
        //$('.cnpj').mask('00.000.000/0000-00', {reverse: true});

        function searchBox()
        {
            var input = $("input[name='procurar']").val();
            var proposta = window.location.href.split('/').reverse()[1] == 'propostas';
            if(input.length == 14 && !proposta) {
                window.location.href = '?c=' + input;
            }
            else if(input.length == 14 && proposta){
                window.location.href = '?c=' + input + '&template=1';
            }
        }

        $("#sidebarToggle").click();

        $(function() {
          $('#cadastroUsuarios').toggle();
          $('.toggleMenu').click(function(){
            $('#cadastroUsuarios').fadeToggle();
          });
        });

</script>
</html>