{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SM Promotora</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <style type="text/css">
  img {
      width: 150px;
      margin-bottom: 20px;
  }
  h1 {
      position: absolute;
      right: 20px;
      top: 96.5px;
  }
  </style>

</head>

<body>

<div class="container-fluid">
    <!-- Basic Card Example -->

    <img src="{% static 'img/LoginImage.jpg' %}" /><br>
    <h1>RELATÓRIO DE CADASTRO</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cadastro de propostas</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <div class="form-inline mb-4">
                    <input type="text" name="contrato" value="{{edicao.contrato}}" class="form-control form-control-user col-3" placeholder="Contrato" />
                    <select required name="banco" class="form-control select-component col-3">
                        <option selected value="">Banco para proposta</option>
                        {% for b in bancos %}
                            <option
                                    {% if b.1|stringformat:'s' == edicao.banco|stringformat:'s' %} selected {% endif %}
                                    value="{{b.1}}">{{b.1}}</option>
                        {% endfor %}
                    </select>
                    <select required name="produto" class="form-control select-component col-3">
                        <option selected value="">Escolha um produto</option>
                        {% for p in listaProdutos %}
                            <option
                                {% if p.1|stringformat:'s' == edicao.produto|stringformat:'s' %} selected {% endif %}
                                value="{{p.0}}">{{p.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="taxaJuros" value="{{edicao.taxaJuros}}" class="form-control form-control-user col-3" placeholder="Taxa de Juros" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="nome" value="{{edicao.nome}}" class="form-control form-control-user col-8" placeholder="Nome" />
                    <select required name="sexo" class="form-control select-component col-4">
                        <option selected value="">Escolha um gênero</option>
                        <option {% if "Masculino" == edicao.sexo|stringformat:'s' %} selected {% endif %} value="Masculino">Masculino</option>
                        <option {% if "Feminino" == edicao.sexo|stringformat:'s' %} selected {% endif %} value="Feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" id="cpfinput" name="cpf" value="{{edicao.cpf}}" class="form-control form-control-user col-2" placeholder="CPF" />
                    <input type="text" id="rginput" name="rg" value="{{edicao.rg}}" class="form-control form-control-user col-2" placeholder="RG/CNH" />
                    <input type="date" name="dataEmissao" value="{{edicao.emissao|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de emissão" />
                    <input type="date" name="dataNascimento" value="{{edicao.dataNascimento|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de nascimento" />
                    <input type="text" name="naturalidade" value="{{edicao.naturalidade}}" class="form-control form-control-user col-2" placeholder="Naturalidade" />
                    <input type="text" list="ufs" name="uf" value="{{edicao.uf}}" class="form-control form-control-user col-2" placeholder="UF" />
{#                    <datalist id="ufs">#}
{#                        <option value="RN">RN</option>#}
{#                        <option value="PB">PB</option>#}
{#                    </datalist>#}
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="nomePai" value="{{edicao.nomePai}}" class="form-control form-control-user col-6" placeholder="Nome do pai" />
                    <input type="text" name="nomeMae" value="{{edicao.nomeMae}}" class="form-control form-control-user col-6" placeholder="Nome da mãe" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="endereco" value="{{edicao.endereco}}" class="form-control form-control-user col-7" placeholder="Endereço" />
                    <input type="text" name="numero" value="{{edicao.numero}}" class="form-control form-control-user col-1" placeholder="Nº" />
                    <input type="text" name="bairro" value="{{edicao.bairro}}" class="form-control form-control-user col-4" placeholder="Bairro" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="cidade" value="{{edicao.cidade}}" class="form-control form-control-user col-4" placeholder="Cidade" />
                    <input type="text" name="estado" value="{{edicao.estado}}" class="form-control form-control-user col-4" placeholder="Estado" />
                    <input type="text" id="cepinput" name="cep" value="{{edicao.cep}}" class="form-control form-control-user col-4" placeholder="CEP" />
                </div>
                <div class="form-inline mb-4">
                    <select required name="orgao" class="form-control select-component col-3">
                        <option selected value="">Escolha um orgão</option>
                        {% for listaOrgao in listaOrgaos %}
                            <option
                                    {% if listaOrgao.1|stringformat:'s' == edicao.orgao|stringformat:'s' %} selected {% endif %}
                                    value="{{listaOrgao.0}}">{{listaOrgao.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="funcao" value="{{edicao.funcao}}" class="form-control form-control-user col-3" placeholder="Função" />
                    <input type="text" name="senha" value="{{edicao.senha}}" class="form-control form-control-user col-3" placeholder="Senha" />
                    <input type="text" name="matricula" value="{{edicao.matricula}}" class="form-control form-control-user col-3" placeholder="Mátricula/NB" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="valorParcela" value="{{edicao.vlParcela}}" class="form-control form-control-user col-2" placeholder="Valor da parcela" />
                    <input type="text" name="prazo" value="{{edicao.prazo}}" class="form-control form-control-user col-2" placeholder="Prazo" />
                    <input type="text" name="valorBruto" value="{{edicao.vlBruto}}" class="form-control form-control-user col-2" placeholder="Valor Bruto" />
                    <input type="text" name="valorLiquido" value="{{edicao.vlLiquido}}" class="form-control form-control-user col-2" placeholder="Valor Líquido" />
                    <input type="text" name="renda" value="{{edicao.renda}}" class="form-control form-control-user col-2" placeholder="Renda" />
                    <input type="date" name="dataAdmissao" value="{{edicao.dataAdmissao|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de admissão" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" id="phoneinput" name="numeroFixo" value="{{edicao.fixo}}" class="form-control form-control-user col-3 bfh-phone" data-format="+1 (ddd) ddd-dddd" placeholder="Nº Fixo" />
                    <input type="text" id="phoneinput" name="numeroCelular" value="{{edicao.celular}}" class="form-control form-control-user col-3" placeholder="Nº Celular" />
                    <input type="text" name="correspondente" value="{{edicao.correspondente}}" class="form-control form-control-user col-3" placeholder="Correspondente" />
                    <select required name="tipoPagamento" class="form-control select-component col-3">
                        <option selected value="">Escolha um tipo</option>
                        {% for tipoDeConta in tiposDeConta %}
                            <option
                                {% if tipoDeConta.0|stringformat:'s' == edicao.tipoDeposito|stringformat:'s' %} selected {% endif %}
                                value="{{tipoDeConta.0}}">{{ tipoDeConta.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <select required name="bancoDeposito" class="form-control select-component col-3">
                        <option selected value="">Banco para depósito</option>
                        {% for b in bancos %}
                            <option
                                    {% if b.1|stringformat:'s' == edicao.bancoDeposito|stringformat:'s' %} selected {% endif %}
                                    value="{{b.1}}">{{b.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="agenciaPagamento" value="{{edicao.agencia}}" class="form-control form-control-user col-3" placeholder="Agência" />
                    <input type="text" name="contaPagamento" value="{{edicao.conta}}" class="form-control form-control-user col-3" placeholder="Conta" />
                    <select required name="corretor" required class="form-control select-component col-3">
                        <option selected value="0">Escolha um corretor</option>
                        {% for corretor in corretores %}
                            <option
                                    {% if corretor.id == edicao.corretor.id %} selected {% endif %}
                                    value="{{corretor.id}}">{{corretor}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <textarea name="observacao" class="form-control form-control-user col-12" placeholder="Observações" style="border-radius: 10px; padding: 10px;">{{edicao.observacao}}</textarea>
                </div>
            </form>
        </div>
    </div>
    
</div>
    <script type="text/javascript">
        /*var inputs = document.body.getElementsByTagName("input");
        var selects = document.body.getElementsByTagName("select");
        var names = [];

        for(var i = 0; i < inputs.length; i++)
        {
            names[names.length] = inputs[i].name;
            if(i < selects.length)
            {
                names[names.length] = selects[i].name;
            }
        }

        console.log('Campos de entrada: ' + (names.length - 2));

        for(var i = 0; i < names.length; i++)
        {
            console.log(names[i]);
        }*/
        window.print();
    </script>

</body>
</html>