{% extends '../base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
      </div>
      <div class="card-body">
          <form class="user" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-inline mb-4">

                <select required name="corretor" class="form-control select-component col-3">
                    <option selected value="">Escolha um corretor</option>
                    {% for corretor in corretores %}
                        <option value="{{corretor.id}}">{{corretor}}</option>
                    {% endfor %}
                </select>

                <input type="date" required  name="inicio" class="form-control form-control-user col-3" title="Início" />

                <input type="date" required  name="fim" class="form-control form-control-user col-3" title="Fim" />

                <select name="status" class="form-control select-component col-3">
                    <option selected value="">Escolha um status para a proposta</option>
                    {% for s in status %}
                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="form-inline">
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Filtrar
                </button>
            </div>

          </form>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Relatórios</h6>
        <a href="{% url 'resumo' %}" class="btn btn-primary btn-user" style="float: right; margin: -30px 0px -15px 0px;">
            Imprimir resumo
        </a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Produto</th>
                <th>Banco</th>
                <th>Base</th>
                <th>Taxa</th>
                <th>Total</th>
                <th>Pgt.</th>
              </tr>
              </thead>
              <tbody>
              {% for proposta in propostas %}
                <tr>
                    <th>{{proposta.nome|truncatewords:2}}</th>
                    <th>{{proposta.cpf}}</th>
                    <th>{{proposta.produto}}</th>
                    <th>{{proposta.banco}}</th>
                    <th>R$ {{proposta.vlBruto}}</th>
                    <th>{{proposta.taxa}}%</th>
                    <th>R$ {{proposta.total|floatformat:2}}</th>
                    <td style="text-align: center;">
                      {% if proposta.pagamento %}
                          <i class="fas fa-fw fa-check-circle" style="color: #2ecc71;"></i>
                      {% else %}
                          <i class="fas fa-fw fa-window-close" style="color: #e74c3c;"></i>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}