{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SM Promotora - Resumo</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style type="text/css">
        body{
            text-transform: uppercase;
            font-size: 14px;
            margin: 0px;
            padding: 0px;
        }
        table tbody tr td{
            text-align: center;
        }
        .resumo{
            width: 100%;
        }
        .cabecalho{
            text-align: center;
        }
        h2{
            margin-top: 50px;
            border-bottom: 1px solid #000;
        }
        img {
            width: 150px;
            position: absolute;
        }
        .assinaturas div{
            width: 400px;
            float: left;
            border-top: 1px solid #000;
            text-align: center;
            margin: 120px 50px 50px 80px;
        }
    </style>
</head>
<body>
    <img src="{% static 'img/LoginImage.jpg' %}" />
    <div class="resumo">
        <div class="cabecalho">
            <h1></h1>
            <br>
            {{corretor.nome}}<br>
            {{corretor.email}}<br>
            {{corretor.telefone}}<br>
            {{corretor.banco}}, {{corretor.agencia}}, {{corretor.conta}}<br>
        </div>
        <table class="table table-bordered mt-5" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>emissão</th>
            <th>cliente</th>
            <th>cpf</th>
            <th>produto</th>
            <th>contrato</th>
            <th>banco</th>
            <th>prazo</th>
            <th>base</th>
            <th>taxa</th>
            <th>total</th>
            <th>pagamento</th>
            <th>data</th>
        </tr>
    </thead>
    <tbody>
    {% for p in proposta %}
        <tr>
            <td>{{ p.dataCadastro|date:'d/m/Y' }}</td>
            <td>{{ p.nome }}</td>
            <td>{{ p.cpf }}</td>
            <td>{{ p.produto }}</td>
            <td>{{ p.contrato }}</td>
            <td>{{ p.banco }}</td>
            <td>{{ p.prazo }}</td>
            <td>R$ {{ p.vlBruto }}</td>
            <td>{{ p.taxa }}%</td>
            <td>R$ {{ p.total|floatformat:2 }}</td>
            <td>
                {% if p.pagamento %}
                    <i class="fas fa-fw fa-check-circle" style="color: #2ecc71;"></i>
                {% else %}
                    <i class="fas fa-fw fa-window-close" style="color: #e74c3c;"></i>
                {% endif %}
            </td>
            <td>{{ p.data_pagamento|date:'d/m/Y' }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <h2>RESUMO</h2><br>

    {% if adiantamentos.count > 0 %}
        Adiantamentos:<br><br>
        {% for adiantamento in adiantamentos %}
            R$ {{ adiantamento.valor }} - {{ adiantamento.observacao }}<br>
        {% endfor %}
    {% endif %}


    <br><br>
    Total das comissões: R$ {{ proposta|somaTotais|floatformat:2 }}<br>
    Total pago: R$ {{ adiantamentos|somaPagamentos }}<br>
    Total a pagar: R$ {{ proposta|subtrair:adiantamentos|floatformat:2 }}<br>
    </div>

    <div class="assinaturas">
        <div>
            {{ corretor.nome }}
        </div>
        <div>
            SMPROMOTORA
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript">
        $('.cabecalho h1').html('relatório de comissões<br>' + new Date().getFullYear());
        window.print();
    </script>
</body>
</html>