{% extends '../base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Adiantamento</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <strong>Usuário: {{ corretor }}</strong>
                <div class="form-inline mt-4 mb-4">
                    <input type="text" required name="renda" class="form-control form-control-user col-2" placeholder="Valor" />
                    <input type="text" required name="observacao" class="form-control form-control-user col-10" placeholder="Observação" />
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Adicionar
                </button>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Observação</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for ad in adiantamentos %}
                    <tr>
                      <td>{{ad.data_retirada|date:'d/m/Y'}}</td>
                      <td>R$ {{ad.valor}}</td>
                      <td>{{ad.observacao}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}