{% extends '../base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container-fluid">
    <!-- Basic Card Example -->
    {% if operation == 'add' %}
    <a class="btn btn-primary mb-4" href="{% url 'propostas' %}?operation=list">
        Relatórios
    </a>
    {% if edicao is not None %}
    <a class="btn btn-primary mb-4" href="{% url 'propostas' %}">
        Novo
    </a>
    <a class="btn btn-primary mb-4" href="{% url 'resumoproposta' %}?id={{edicao.id}}">
        Imprimir
    </a>
    {% endif %}
    {% if usuario.nivel|stringformat:'s' == 'Administrador' and edicao.id > 0 %}
    <a class="btn btn-success mb-4" style="float: right;" href="{% url 'baixa' %}?id={{edicao.id}}">
        Baixa
    </a>
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cadastro de propostas</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <div class="form-inline mb-4">
                    <div class="col-8"></div>
                    <div class="input-group col-4">
                        <input type="text" name="procurar" class="form-control bg-light border-0 small" placeholder="Localizar por cpf..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button onclick="searchBox()" class="btn btn-primary">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="contrato" value="{{edicao.contrato}}" class="form-control form-control-user col-3" placeholder="Contrato" />
                    <input type="text" name="banco" placeholder="Banco para proposta" value="{{edicao.banco}}" list="bankname" class="form-control select-component col-3">
                    <datalist required id="bankname">
                        {% for b in bancos %}
                            <option value="{{b.1}}">{{b.1}}</option>
                        {% endfor %}
                    </datalist>
                    <select required name="produto" class="form-control select-component col-3">
                        <option selected value="">Escolha um produto</option>
                        {% for p in listaProdutos %}
                            <option
                                {% if p.1|stringformat:'s' == edicao.produto|stringformat:'s' %} selected {% endif %}
                                value="{{p.0}}">{{p.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="taxaJuros" value="{{edicao.taxaJuros}}" class="form-control form-control-user col-3" placeholder="Taxa de Juros" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="nome" value="{{edicao.nome}}" class="form-control form-control-user col-8" placeholder="Nome" />
                    <select required name="sexo" class="form-control select-component col-4">
                        <option selected value="">Escolha um gênero</option>
                        <option {% if "Masculino" == edicao.sexo|stringformat:'s' %} selected {% endif %} value="Masculino">Masculino</option>
                        <option {% if "Feminino" == edicao.sexo|stringformat:'s' %} selected {% endif %} value="Feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" id="cpfinput" name="cpf" value="{{edicao.cpf}}" class="form-control form-control-user col-2" placeholder="CPF" />
                    <input type="text" id="rginput" name="rg" value="{{edicao.rg}}" class="form-control form-control-user col-2" placeholder="RG/CNH" />
                    <input type="date" name="dataEmissao" value="{{edicao.emissao|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de emissão" />
                    <input type="date" name="dataNascimento" value="{{edicao.dataNascimento|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de nascimento" />
                    <input type="text" name="naturalidade" value="{{edicao.naturalidade}}" class="form-control form-control-user col-2" placeholder="Naturalidade" />
                    <input type="text" list="ufs" name="uf" value="{{edicao.uf}}" class="form-control form-control-user col-2" placeholder="UF" />
{#                    <datalist id="ufs">#}
{#                        <option value="RN">RN</option>#}
{#                        <option value="PB">PB</option>#}
{#                    </datalist>#}
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="nomePai" value="{{edicao.nomePai}}" class="form-control form-control-user col-6" placeholder="Nome do pai" />
                    <input type="text" name="nomeMae" value="{{edicao.nomeMae}}" class="form-control form-control-user col-6" placeholder="Nome da mãe" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="endereco" value="{{edicao.endereco}}" class="form-control form-control-user col-7" placeholder="Endereço" />
                    <input type="text" name="numero" value="{{edicao.numero}}" class="form-control form-control-user col-1" placeholder="Nº" />
                    <input type="text" name="bairro" value="{{edicao.bairro}}" class="form-control form-control-user col-4" placeholder="Bairro" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="cidade" value="{{edicao.cidade}}" class="form-control form-control-user col-4" placeholder="Cidade" />
                    <input type="text" name="estado" value="{{edicao.estado}}" class="form-control form-control-user col-4" placeholder="Estado" />
                    <input type="text" id="cepinput" name="cep" value="{{edicao.cep}}" class="form-control form-control-user col-4" placeholder="CEP" />
                </div>
                <div class="form-inline mb-4">
                    <select required name="orgao" class="form-control select-component col-3">
                        <option selected value="">Escolha um orgão</option>
                        {% for listaOrgao in listaOrgaos %}
                            <option
                                    {% if listaOrgao.1|stringformat:'s' == edicao.orgao|stringformat:'s' %} selected {% endif %}
                                    value="{{listaOrgao.0}}">{{listaOrgao.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="funcao" value="{{edicao.funcao}}" class="form-control form-control-user col-3" placeholder="Função" />
                    <input type="text" name="senha" value="{{edicao.senha}}" class="form-control form-control-user col-2" placeholder="Senha" />
                    <input type="text" name="matricula" value="{{edicao.matricula}}" class="form-control form-control-user col-2" placeholder="Mátricula" />
                    
                    <input type="text" name="nb" placeholder="Nº B." list="nbs" class="form-control select-component col-2">
                    <datalist required id="nbs">
                        {% for n_b in edicao.nb|NBs %}
                            <option>{{n_b}}</option>
                        {% endfor %}
                    </datalist>
                    
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="valorParcela" value="{{edicao.vlParcela}}" class="form-control form-control-user col-2" placeholder="Valor da parcela" />
                    <input type="text" name="prazo" value="{{edicao.prazo}}" class="form-control form-control-user col-2" placeholder="Prazo" />
                    <input type="text" name="valorBruto" value="{{edicao.vlBruto}}" class="form-control form-control-user col-2" placeholder="Valor Bruto" />
                    <input type="text" name="valorLiquido" value="{{edicao.vlLiquido}}" class="form-control form-control-user col-2" placeholder="Valor Líquido" />
                    <input type="text" name="renda" value="{{edicao.renda}}" class="form-control form-control-user col-2" placeholder="Renda" />
                    <input type="date" name="dataAdmissao" value="{{edicao.dataAdmissao|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de admissão" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" id="phoneinput" name="numeroFixo" value="{{edicao.fixo}}" class="form-control form-control-user col-3 bfh-phone" data-format="+1 (ddd) ddd-dddd" placeholder="Nº Fixo" />
                    <input type="text" id="phoneinput" name="numeroCelular" value="{{edicao.celular}}" class="form-control form-control-user col-3" placeholder="Nº Celular" />
                    <input type="text" name="correspondente" value="{{edicao.correspondente}}" class="form-control form-control-user col-3" placeholder="Correspondente" />
                    <select required name="tipoPagamento" class="form-control select-component col-3">
                        <option selected value="">Escolha um tipo</option>
                        {% for tipoDeConta in tiposDeConta %}
                            <option
                                {% if tipoDeConta.0|stringformat:'s' == edicao.tipoDeposito|stringformat:'s' %} selected {% endif %}
                                value="{{tipoDeConta.0}}">{{ tipoDeConta.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="bancoDeposito" placeholder="Banco para depósito" value="{{edicao.bancoDeposito}}" list="bankname_dep" class="form-control select-component col-3">
                    <datalist required id="bankname_dep">
                        {% for b in bancos %}
                            <option value="{{b.1}}">{{b.1}}</option>
                        {% endfor %}
                    </datalist>
                    <input type="text" name="agenciaPagamento" value="{{edicao.agencia}}" class="form-control form-control-user col-2" placeholder="Agência" />
                    <input type="text" name="contaPagamento" value="{{edicao.conta}}" class="form-control form-control-user col-2" placeholder="Conta" />
                    <input type="date" name="data_liberacao" value="{{edicao.data_liberacao|date:'Y-m-d'}}" class="form-control form-control-user col-2" />
                    <select required name="corretor" required class="form-control select-component col-3">
                        <option>Escolha um corretor</option>
                        {% for corretor in corretores %}
                            <option
                                    {% if corretor.id is edicao.corretor.id %} selected {% endif %}
                                    value="{{corretor.id}}">{{corretor}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <textarea name="observacao" class="form-control form-control-user col-12" placeholder="Observações" style="border-radius: 10px; padding: 10px;">{{edicao.observacao}}</textarea>
                </div>
                <div class="form-inline mb-4">
                    <div class="file-input col-3">
                        <input type="file" name="fidentidade" />
                        <a href="#" class="btn btn-primary btn-user btn-block">Identidade</a>
                    </div>
                    <div class="file-input col-3">
                        <input type="file" name="comprovanteR" />
                        <a href="#" class="btn btn-primary btn-user btn-block">Comprovante Res.</a>
                    </div>
                    <div class="file-input col-3">
                        <input type="file" name="extrato" />
                        <a href="#" class="btn btn-primary btn-user btn-block">Extrato</a>
                    </div>
                    <div class="file-input col-3">
                        <input type="file" name="complemento" />
                        <a href="#" class="btn btn-primary btn-user btn-block">Complemento</a>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Adicionar
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <a class="btn btn-primary mb-4" href="{% url 'propostas' %}">
        Adicionar
    </a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitação</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Pgt.</th>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Banco</th>
                <th>Produto</th>
                <th>VB</th>
                <th>VL</th>
                {% if usuario.nivel|stringformat:'s' == 'Administrador' %}
                    <th>Corretor</th>
                {% endif %}
                <th>Status</th>
                <th>Ver</th>
                <th>Baixa</th>
              </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Pgt.</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Banco</th>
                  <th>Produto</th>
                  <th>VB</th>
                  <th>VL</th>
                  {% if usuario.nivel|stringformat:'s' == 'Administrador' %}
                    <th>Corretor</th>
                  {% endif %}
                  <th>Status</th>
                  <th>Ver</th>
                  <th>Baixa</th>
                </tr>
              </tfoot>
              <tbody>
              {% for p in propostas %}
                <tr>
                  <td style="text-align: center;">
                      {% if p.pagamento %}
                          <i class="fas fa-fw fa-check-circle" style="color: #2ecc71;"></i>
                      {% else %}
                          <i class="fas fa-fw fa-window-close" style="color: #e74c3c;"></i>
                      {% endif %}
                  </td>
{#                  <td>{{p.dataCadastro.day}}/{{p.dataCadastro.month}}/{{p.dataCadastro.year}}</td>#}
                  <td>{{p.nome|truncatewords:2}}</td>
                  <td>{{p.cpf}}</td>
                  <td>{{p.banco}}</td>
                  <td>{{p.produto}}</td>
                  <td>R$ {{p.vlBruto}}</td>
                  <td>R$ {{p.vlLiquido}}</td>
                  {% if usuario.nivel|stringformat:'s' == 'Administrador' %}
                    <th>{{p.corretor|truncatewords:1}}</th>
                  {% endif %}
                  <td>
                      {% for ls in listaStatus %}
                        {% if ls.0 is p.status %}
                            {{ ls.1 }}
                        {% endif %}
                      {% endfor %}
                  </td>
                  <td style="text-align: center;">
                    <a href="{% url 'propostas' %}?add&id={{p.id}}"><i class="fas fa-fw fa-eye"></i></a>
                  </td>
                  <td style="text-align: center;">
                      <a href="{% url 'baixa' %}?id={{p.id}}"><i class="fas fa-fw fa-money-bill-wave"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
</div>
    <script type="text/javascript">
        /*var inputs = document.body.getElementsByTagName("input");
        var selects = document.body.getElementsByTagName("select");
        var names = [];

        for(var i = 0; i < inputs.length; i++)
        {
            names[names.length] = inputs[i].name;
            if(i < selects.length)
            {
                names[names.length] = selects[i].name;
            }
        }

        console.log('Campos de entrada: ' + (names.length - 2));

        for(var i = 0; i < names.length; i++)
        {
            console.log(names[i]);
        }*/
    </script>
{% endblock %}