{% extends '../base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Baixar proposta</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <div class="form-inline mb-4">
                    <select name="status" class="form-control select-component col-3">
                        <option selected value="">Escolha um status de pagamento</option>
                        {% for s in status %}
                            <option
                                    {% if s.0 == edicao.status %} selected {% endif %}
                                    value="{{ s.0 }}">{{ s.1 }}</option>
                        {% endfor %}
                    </select>
                    <select name="corretor" class="form-control select-component col-3">
                        <option selected value="">Escolha um corretor</option>
                        {% for c in corretor %}
                            <option
                                    {% if c.id == edicao.corretor.id %} selected {% endif %}
                                    value="{{ c.id }}">{{ c.nome }}</option>
                        {% endfor %}
                    </select>
                    <select name="pagamento" class="form-control select-component col-3">
                        <option selected value="0">Escolha um status de pagamento</option>
                        <option {% if edicao.pagamento %} selected {% endif %} value="1">Pago</option>
                        <option value="0">Pendente</option>
                    </select>
                    <input type="text" name="taxaLucro" value="{{edicao.taxaLucro}}" class="form-control form-control-user col-3" placeholder="Taxa de lucro" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="contrato" value="{{edicao.contrato}}" class="form-control form-control-user col-4" placeholder="Contrato" />
                    <input type="text"  name="taxa" {% if edicao.taxa is None %} value="0.0" {% else %} value="{{edicao.taxa}}" {% endif %} class="form-control form-control-user col-4" placeholder="Taxa" />
                    <input type="text"  name="prazo" value="{{edicao.prazo}}" class="form-control form-control-user col-4" placeholder="Prazo" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text"  name="valorParcela" value="{{edicao.vlParcela}}" class="form-control form-control-user col-4" placeholder="Valor da parcela" />
                    <input type="text" name="valorBruto" value="{{edicao.vlBruto}}" class="form-control form-control-user col-4" placeholder="Valor bruto" />
                    <input type="text"  name="valorLiquido" value="{{edicao.vlLiquido}}" class="form-control form-control-user col-4" placeholder="Valor liquido" />
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Adicionar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}