{% extends '../base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container-fluid">
    <!-- Basic Card Example -->
    {% if operation != 'list' %}
    <a class="btn btn-primary mb-4" href="{% url 'clientes' %}?operation=list">
        Relatórios
    </a>

    {% if edicao is not None %}
    <a class="btn btn-primary mb-4" href="{% url 'clientes' %}">
        Novo
    </a>
    <a class="btn btn-primary mb-4" href="{% url 'resumoproposta' %}?id={{edicao.id}}">
        Imprimir
    </a>
    <a class="btn btn-success mb-4" style="float: right;" href="{% url 'propostas' %}?id={{edicao.id}}&template=1">
        Proposta
    </a>
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cadastro de clientes</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{edicao.id}}">
                <div class="form-inline mb-4">
                    <div class="col-8"></div>
                    <div class="input-group col-4">
                        <input type="text" name="procurar" class="form-control bg-light border-0 small" placeholder="Localizar por cpf..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button onclick="searchBox()" class="btn btn-primary">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="nome" value="{{edicao.nome}}" class="form-control form-control-user col-8" placeholder="Nome" />
                    <select required name="sexo" class="form-control select-component col-4">
                        <option selected value="">Escolha um gênero</option>
                        <option {% if "Masculino" == edicao.sexo|stringformat:'s' %} selected {% endif %} value="Masculino">Masculino</option>
                        <option {% if "Feminino" == edicao.sexo|stringformat:'s' %} selected {% endif %} value="Feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="cpf" value="{{edicao.cpf}}" class="form-control form-control-user col-2" placeholder="CPF" />
                    <input type="text" name="rg" value="{{edicao.rg}}" class="form-control form-control-user col-2" placeholder="RG/CNH" />
                    <input type="date" name="dataEmissao" value="{{edicao.emissao|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de emissão" />
                    <input type="date" name="dataNascimento" value="{{edicao.dataNascimento|date:'Y-m-d'}}" class="form-control form-control-user col-2" title="Data de nascimento" />
                    <input type="text" name="naturalidade" value="{{edicao.naturalidade}}" class="form-control form-control-user col-2" placeholder="Naturalidade" />
                    <input type="text" list="ufs" name="uf" value="{{edicao.uf}}" class="form-control form-control-user col-2" placeholder="UF" />
{#                    <datalist id="ufs">#}
{#                        <option value="RN">RN</option>#}
{#                        <option value="PB">PB</option>#}
{#                    </datalist>#}
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="nomePai" value="{{edicao.nomePai}}" class="form-control form-control-user col-6" placeholder="Nome do pai" />
                    <input type="text" name="nomeMae" value="{{edicao.nomeMae}}" class="form-control form-control-user col-6" placeholder="Nome da mãe" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="endereco" value="{{edicao.endereco}}" class="form-control form-control-user col-7" placeholder="Endereço" />
                    <input type="text" name="numero" value="{{edicao.numero}}" class="form-control form-control-user col-1" placeholder="Nº" />
                    <input type="text" name="bairro" value="{{edicao.bairro}}" class="form-control form-control-user col-4" placeholder="Bairro" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="cidade" value="{{edicao.cidade}}" class="form-control form-control-user col-4" placeholder="Cidade" />
                    <input type="text" name="estado" value="{{edicao.estado}}" class="form-control form-control-user col-4" placeholder="Estado" />
                    <input type="text" name="cep" value="{{edicao.cep}}" class="form-control form-control-user col-4" placeholder="CEP" />
                </div>
                <div class="form-inline mb-4">
                    <select required name="orgao" class="form-control select-component col-2">
                        <option selected value="">Escolha um orgão</option>
                        {% for listaOrgao in listaOrgaos %}
                            <option
                                    {% if listaOrgao.1|stringformat:'s' == edicao.orgao|stringformat:'s' %} selected {% endif %}
                                    value="{{listaOrgao.0}}">{{listaOrgao.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="funcao" value="{{edicao.funcao}}" class="form-control form-control-user col-2" placeholder="Função" />
                    <input type="text" name="senha" value="{{edicao.senha}}" class="form-control form-control-user col-2" placeholder="Senha" />
                    <input type="text" name="matricula" value="{{edicao.matricula}}" class="form-control form-control-user col-2" placeholder="Mátricula" />
                    <input type="text" name="nb" value="{{edicao.nb|getNB:0}}" class="form-control form-control-user col-1" placeholder="Nº B." />
                    <input type="text" name="nb1" value="{{edicao.nb|getNB:1}}" class="form-control form-control-user col-1" placeholder="Nº B." />
                    <input type="text" name="nb2" value="{{edicao.nb|getNB:2}}" class="form-control form-control-user col-1" placeholder="Nº B." />
                    <input type="text" name="nb3" value="{{edicao.nb|getNB:3}}" class="form-control form-control-user col-1" placeholder="Nº B." />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="renda" value="{{edicao.renda}}" class="form-control form-control-user col-4" placeholder="Renda" />
                    <input type="text" name="numeroFixo" value="{{edicao.fixo}}" class="form-control form-control-user col-4" placeholder="Nº Fixo" />
                    <input type="text" name="numeroCelular" value="{{edicao.celular}}" class="form-control form-control-user col-4" placeholder="Nº Celular" />
                </div>
                <div class="form-inline mb-4">
                    <input type="text" name="bancoDeposito" placeholder="Banco para depósito" value="{{edicao.bancoDeposito}}" list="bankname" class="form-control select-component col-3">
                    <datalist required id="bankname">
                        {% for b in bancos %}
                            <option value="{{b.1}}">{{b.1}}</option>
                        {% endfor %}
                    </datalist>
                    <input type="text" name="agenciaPagamento" value="{{edicao.agencia}}" class="form-control form-control-user col-3" placeholder="Agência" />
                    <input type="text" name="contaPagamento" value="{{edicao.conta}}" class="form-control form-control-user col-3" placeholder="Conta" />
                    <select required name="tipoPagamento" class="form-control select-component col-3">
                        <option selected value="">Escolha um tipo</option>
                        {% for tipoDeConta in tiposDeConta %}
                            <option
                                {% if tipoDeConta.0|stringformat:'s' == edicao.tipoDeposito %} selected {% endif %}
                                value="{{tipoDeConta.0}}">{{ tipoDeConta.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-inline mb-4">
                    <textarea name="observacao" class="form-control form-control-user col-12" placeholder="Observações" style="border-radius: 10px; padding: 10px;">{{edicao.observacao}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Adicionar
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <a class="btn btn-primary mb-4" href="{% url 'clientes' %}">
        Adicionar
    </a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitação</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Pgt.</th>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Fixo</th>
                <th>Matrícula/NB</th>
                <th>Ver</th>
              </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Pgt.</th>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Celular</th>
                  <th>Fixo</th>
                  <th>Matrícula/NB</th>
                  <th>Ver</th>
                </tr>
              </tfoot>
              <tbody>
              {% for p in propostas %}
                <tr>
                  <td style="text-align: center;">
                      {% if p.pagamento %}
                          <i class="fas fa-fw fa-check-circle" style="color: #2ecc71;"></i>
                      {% else %}
                          <i class="fas fa-fw fa-window-close" style="color: #e74c3c;"></i>
                      {% endif %}
                  </td>
{#                  <td>{{p.dataCadastro.day}}/{{p.dataCadastro.month}}/{{p.dataCadastro.year}}</td>#}
                  <td>{{p.nome|truncatewords:2}}</td>
                  <td>{{p.cpf}}</td>
                  <td>{% if p.celular is not None %}{{p.celular}}{% endif %}</td>
                  <td>{% if p.fixo is not None %}{{p.fixo}}{% endif %}</td>
                  <td>{% if p.matricula is not None %}{{p.matricula}}{% endif %}</td>
                  <td style="text-align: center;">
                    <a href="{% url 'clientes' %}?add&id={{p.id}}"><i class="fas fa-fw fa-eye"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
</div>
    <script type="text/javascript">
        /*var inputs = document.body.getElementsByTagName("input");
        var selects = document.body.getElementsByTagName("select");
        var names = [];

        for(var i = 0; i < inputs.length; i++)
        {
            names[names.length] = inputs[i].name;
            if(i < selects.length)
            {
                names[names.length] = selects[i].name;
            }
        }

        console.log('Campos de entrada: ' + (names.length - 2));

        for(var i = 0; i < names.length; i++)
        {
            console.log(names[i]);
        }*/
    </script>
{% endblock %}